$spacing50: 2px!default;
$spacing100: 4px!default;
$spacing150: 6px!default;
$spacing200: 8px!default;
$spacing250: 10px!default;
$spacing300: 12px!default;
$spacing350: 14px!default;
$spacing400: 16px!default;
$spacing450: 18px!default;
$spacing500: 20px!default;
$spacing550: 22px!default;
$spacing600: 24px!default;
$spacing650: 28px!default;
$spacing700: 32px!default;
$spacing750: 36px!default;
$spacing800: 40px!default;
$spacing850: 48px!default;
$spacing900: 56px!default;
$spacing950: 64px!default;