// Font size

$fontSize100: 10px!default;
$fontSize200: 12px!default;
$fontSize300: 14px!default;
$fontSize400: 16px!default;
$fontSize500: 20px!default;
$fontSize600: 24px!default;
$fontSize700: 29px!default;
$fontSize800: 35px!default;
$fontSize900: 42px!default;

// Line Height

$lineHeight50: 16px!default;
$lineHeight100: 20px!default;
$lineHeight300: 24px!default;
$lineHeight500: 28px!default;
$lineHeight700: 36px!default;
$lineHeight900: 40px!default;
$lineHeight950: 48px!default;

// Font Weight

$fontRegular: 400!default;
$fontSemiBold: 600!default;
$fontBold: 700!default;